@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff8f6;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer components {
  .glass-header {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .btn-active:active {
    transform: scale(0.97);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .active-nav-item .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
